@page "/transacoes/delete"

@using Microsoft.EntityFrameworkCore
@using IntegracaoCieloEcommerceSandbox.Models
@using IntegracaoCieloEcommerceSandbox.Data
@using IntegracaoCieloEcommerceSandbox.Services
@inject AppDbContext DbContext
@inject NavigationManager NavigationManager
@inject CieloService CieloService

<PageTitle>Transação</PageTitle>

<h1>Cancelamento de Transação</h1>
<h3>Certeza que quer cancelar a transação?</h3>
<hr />
<div>   
    @if (transacao is null)
    {
        NavigationManager.NavigateTo("notfound");
    }
    else {
        <p>Cancelamento de pagamento, para atender um pedido de estorno por exemplo.</p>
        <dl class="row">
            <dt class="col-sm-2">Valor</dt>
            <dd class="col-sm-10">@transacao.Valor.ToString("C", new System.Globalization.CultureInfo("pt-BR"))</dd>
            <dt class="col-sm-2">Número do Cartão</dt>
            <dd class="col-sm-10">@transacao.Cartao.NumeroDoCartao</dd>
            <dt class="col-sm-2">Nome no Cartão</dt>
            <dd class="col-sm-10">@transacao.Cartao.NomeNoCartao</dd>
            <dt class="col-sm-2">Estado Da Transacao</dt>
            <dd class="col-sm-10">@transacao.EstadoDaTransacao</dd>
        </dl>

        <EditForm method="post" Model="transacao" OnValidSubmit="CancelaTransacao" FormName="delete" Enhance>
            <button id="submitButton" type="submit" class="btn btn-warning btn-sm me-2" disabled="@(transacao is null)"><i class="bi bi-pause-circle-fill" style="color: black"></i> Cancelar Transação</button>
            <a class="btn btn-secondary btn-sm me-2" href="/transacoes"><i class="bi bi-arrow-left"></i>Voltar pra lista</a>
        </EditForm>
    }
</div>

@if (!string.IsNullOrEmpty(mensagemErro))
{
    <div class="alert alert-danger">@mensagemErro</div>
}

@code {
    Transacao? transacao;

    [SupplyParameterFromQuery]
    public int Id { get; set; }

    private string? mensagemErro;

    protected override async Task OnInitializedAsync()
    {
        transacao = await DbContext.Transacoes.Include(t => t.Cartao).FirstOrDefaultAsync(m => m.Id == Id);

        if (transacao is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private bool isProcessing;
    private bool navegar;

    public async Task CancelaTransacao()
    {
        try
        {
            if (isProcessing)
            {
                return;
            }
            isProcessing = true;

            if (transacao is not null && !string.IsNullOrEmpty(transacao.PaymentId))
            {
                var cancelamentoResultado = await CieloService.CancelarPagamento(transacao.PaymentId);
                Console.WriteLine($"Resultado do cancelamento: {cancelamentoResultado}");

                transacao.Log = cancelamentoResultado;
                transacao.EstadoDaTransacao = "Transação cancelada";

                DbContext.Attach(transacao!).State = EntityState.Modified;

                await DbContext.SaveChangesAsync();
                
            }

            navegar = true;
        } catch (Exception ex)
        {
            Console.WriteLine($"Erro ao cancelar a transação: {ex.Message}");
            mensagemErro = "A Transação não pode ser cancelada.";
        } finally
        {
            isProcessing = false;
            if (navegar)
            {
                NavigationManager.NavigateTo("/transacoes");
            }
        }
    }
}
