@page "/transacoes/remove"

@using Microsoft.EntityFrameworkCore
@using IntegracaoCieloEcommerceSandbox.Models
@using IntegracaoCieloEcommerceSandbox.Data
@using IntegracaoCieloEcommerceSandbox.Services
@inject AppDbContext DbContext
@inject TransacaoService TransacaoService
@inject NavigationManager NavigationManager

<PageTitle>Transação</PageTitle>

<h1>Excluir Transação</h1>

<div>
    <h4>Transação</h4>
    <hr />
    @if (transacao is null)
    {
        <p><em>Carregando...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Valor</dt>
            <dd class="col-sm-10">@transacao.Valor</dd>
            <dt class="col-sm-2">Id do Pagamento</dt>
            <dd class="col-sm-10">@transacao.PaymentId</dd>
            <dt class="col-sm-2">Estado Da Transação</dt>
            <dd class="col-sm-10">@transacao.EstadoDaTransacao</dd>
            <dt class="col-sm-2">Número do Cartão</dt>
            <dd class="col-sm-10">@transacao.Cartao.NumeroDoCartao</dd>
        </dl>
        <EditForm method="post" Model="transacao" OnValidSubmit="DeleteTransacao" FormName="remove" Enhance>
            <button id="submitButton" type="submit" class="btn btn-danger" disabled="@(transacao is null)">Excluir</button> |
            <a href="/transacoes">Voltar pra lista</a>
        </EditForm>
    }
</div>

@if (!string.IsNullOrEmpty(mensagemErro))
{
    <div class="alert alert-danger">@mensagemErro</div>
}

@code {
    Transacao? transacao;

    [SupplyParameterFromQuery]
    public int Id { get; set; }

    private string? mensagemErro;
    private bool isProcessing;
    private bool navegar;

    protected override async Task OnInitializedAsync()
    {
        transacao = await DbContext.Transacoes.Include(t => t.Cartao).FirstOrDefaultAsync(m => m.Id == Id);

        if (transacao is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    public async Task DeleteTransacao()
    {
        try
        {
            if (isProcessing)
            {
                return;
            }
            
            isProcessing = true;

            await TransacaoService.DeleteTransacao(Id);
            navegar = true;
        }
        catch (KeyNotFoundException)
        {
            mensagemErro = "Transação não encontrada.";
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Erro ao excluir a transação: {ex.Message}");
            mensagemErro = "Não foi possível excluir a transação.";
        }
        finally
        {
            isProcessing = false;
            if (navegar)
            {
                NavigationManager.NavigateTo("/transacoes");
            }
        }
    }
}
